.products__menubar{
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
    overflow: hidden;
    
}
.products__list{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.products__thumbnail{
    width: 70px;
    height: 70px;
}
.products__info{
    font-size: 30px;
    color: black;
}