<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>
		뉴스 대문
		</title>
		<meta charset="utf-8"> 
	</head>
	<body style="text-align: center">
	<h1 ><label th:text="${category}"></label></h1>
	    <a href="/news"><img src="/img/매력.gif" alt="My Image" width="200" height="200"></a>
	<h2 style="text-align: center"><a href="/news?cat=과학">과학</a>
		<a href="/news?cat=미용">미용</a>
		<a href="/news?cat=생활">생활</a>
		<a href="/news?cat=의료">의료</a></h2>
		<h3><a href="/news/add">기사추가</a></h3>
	<img src="/img/궁예.gif" width="400" height="350">
	<img src="/img/탈모인의마음.jpg" width="450" height="400">
	<img src="/img/철퇴.gif" alt="My Image" width="400" height="350">
	<label th:text="${msgName}"></label>
	<table style="border: 4px solid rgb(255, 0, 0);">
			<thead>
				<tr style="border: 4px solid rgb(255, 128, 64);">
					<th style="border: 4px solid rgb(255, 255, 128);">Id</th>
					<th style="border: 4px solid rgb(255, 255, 128);">카테고리</th>
					<th style="border: 4px solid rgb(128, 255, 255);">제목</th>
					<th style="border: 4px solid rgb(0, 128, 255);">내용</th>
					<th style="border: 4px solid rgb(128, 255, 255);">기자</th>
				</tr>
			</thead>
			<tbody>
				<tr style="border: 4px solid rrgb(64, 0, 128)" th:each="item : ${newsArticleList}">
					<td style="border: 4px solid #444444" th:text="${item.id}"></td>
					<td style="border: 4px solid rgb(128, 255, 255);" th:text="${item.category}"></td>
					<td style="border: 4px solid rgb(255, 0, 128);"><a th:href = "@{'/news/detail2?idx='+${item.id}}" th:text="${item.title}"></a></td>
					<td style="border: 4px solid rgb(128, 255, 255);" th:text="${item.contents}"></td>
					<td style="border: 4px solid rgb(128, 255, 255);" th:text="${item.author}"></td>
				</tr>	
			</tbody>	
		</table>
</body>
</html>