<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>
		댓글 수정
		</title>
		<meta charset="utf-8"> 
	</head>
	<img src = "https://img.etoday.co.kr/pto_db/2010/02/20100201052912_sysy_1.jpg" width="400" height="300">
	<br>
	
	<body style="text-align: center">
	
	    <form th:action="@{/news/reply/modify}" th:object="${newsReply}" method="post">    <!-- th달면 타임리프용 포멧 링크거는것 -->
    	 <input type="hidden" th:field="*{id}"><br><br>
  		 <label>댓글 내용:</label>
    	 <input type="text" th:field="*{contents}"><br><br>
    	 <label>댓글 작성자</label>
    	 <input type="text" th:field="*{userId}" readonly><br><br>\
  		 <input type="submit" value="변경내용 저장"> <!-- submit 누르면 폼에 설정된 add로 날려준다. -->
</form>
<img src = "https://lh3.googleusercontent.com/-AKEprTffJ90/WnnAW_VF5eI/AAAAAAAAJQQ/G24Z87m_kZM089t2q1xhUNnHpuz036YjgCHMYCw/s0/f5f5e59ef5ef21276c41b12ec054e3474d472535.jpg" width="400" height="300">
	 </body>
</html>