body{
    display: flex;
    flex-direction: column;
}
.normal{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    background-color: coral;
}
.abnormal{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    background-color: cornflowerblue;
}